* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.0em;
}

body {
  margin: 0;
  padding: 0;
  background: #d4d2d2;
  font-family: 'Montserrat', sans-serif;
}

a:hover { 
    cursor: pointer;
}


/* landing page */
.landingPage {
  background: #edecec;
}

.header {
  margin-top: 0;
  background: black;
  background-image: linear-gradient(rgb(36, 98, 183), rgba(32, 117, 156,0));
  min-height: 255;
  /* border-top: solid #545454 8px; */
  /* border-top: 6px solid transparent;
  border-image: linear-gradient(to right, #656865 , #d9d9d4);
  border-image-slice: 1; */
}

.headerLinks a {
  padding: 24px;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}
.headerLinks {
  display: inline;
  margin-left: 55%;
}

img.headerImage {
    width: 18.5em;
}

.logo {
  font-family: Arial;
  letter-spacing: -6px;
  font-size: 2.7em;
  padding-right: 14px;
  font-style: italic;
  color: rgb(238,255,123);
}

.container {
  width:100%;
}

.menuBtn {
  float: right;
}

h1.healingConn {
  font-weight: bold;
  letter-spacing: 2px;
}


/*quiz */
.quiz_wrapper
{
  min-height:500px;
  padding: 25px 10px;
}

.quiz {
  position: relative;
  max-width: 925px;
  margin: 0 auto;
  background:#fff;
  border-radius: 3px;
  text-align: center;
  padding: 45px 10px;
  overflow-x: hidden;
  
}

.progressBar {
  height: 7px !important;
  margin: 0px auto 30px auto !important;
  width: 80% !important;
}

.quizBackButton, .quizNextButton, .quizResultsButton {
  background-color: #3b4e8c !important;
  font-size: 2em !important;
  margin: 10px !important;
  color: #fff !important;
}

.quizResultsButton {
  background-color: red !important;
}

.refreshIndicator
{
  min-height:350px;
}

/* Quiz */
#alert-dialog-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
}
.helpText {
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*Landing Page*/
.topStyle {
    background: #060d16;
    padding: 0px;
    text-align: center;
    position: relative;
    overflow: auto;
    color:white;
    margin: 0px auto;
    max-width: 100%;
    overflow-x: hidden;
    height: 450px;
}

.synapseImage {
  max-width: 45%;
  padding: 0px;
  display: block;
  background-size: cover;
  height: inherit;
  background-repeat: no-repeat;
  box-shadow: -15px 0px 100px 36px rgb(6,13,22) inset;
  background-image: url(dist/synapse.jpg);
  background-position: center;
}

.info {
  margin-top: 20px;
}

.startInfo {
  font-size:23px;
}


.stepContainer {
  padding-top: 70px;
  /* text-align: center; */
  min-height: 440px;
  /* float: none; */
  width: 90%;
  margin: 0 auto;
}

svg.MuiSvgIcon-root-37.MuiSvgIcon-fontSizeLarge-45.stepNumber {
  color: #0c8f28;
  font-size: 5.3em;
  background: white;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 40%;
}

.step {
  text-align: center;
  padding: 0 41px;
}

p.stepDesc {
    font-size: 1.9em;
    font-weight: bold;
    padding: 10px;
    color: #6810ac;
}

.refreshIndicator {
  text-align: center;
  position: relative;
  margin-bottom:15px;
}

.userInfo {
  font-size: 2.5em;
  font-weight: bold;
}

.progressBar{
  height: 7px;
  margin: 0px auto 30px auto;
  width: 80%;
}

.quizBtn{
  background-color: #3b4e8c;
  font-size:2em;
  margin-top: 20px;
  margin: 10px;
  color:#fff;
}
.quizBtn:hover{
  background-color:#b63d34;
}

 /*Result*/
.result {
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.pagenation{
  text-align: center;
  margin: 8px;
}

td, th {
  padding:10px;
}

.tableHeader{
  padding: 15px;
  width: 55%;
  font-size: 1.3em;
}

.tableCol{
  padding: 15px;
  white-space: normal;
  font-size: 1.3em;
}

table.MuiTable-root-66 {
  background: #f8f8f8;
}

/*question */
.question {
  margin: 0;
  padding: 0.5rem 0rem;
  color:black;
  font-weight: bold;
}

.subtext{
  color:rgb(128, 128, 128);
  font-size: 14pt;
  font-style: italic;
}


/*answer options*/
.answerOptions{
  margin: 0;
  padding: 0;
  list-style:none;
}

.answerInput {
    padding: 15px 0px;
}

.answerOption:hover{
  background-color:#eefbfe;
}

.reasonTextArea{
  width:70%;
  height:100px;
  font-size: 1.5em;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  font-size: 2em;
  margin:12px;
}
[type="radio"]+label:before, [type="radio"]+label:after {
  width:20px;
  height:20px;
  border: 2px solid black;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #000000;
}

label.radioLabel {
  color:black;
  position: relative;
  width: 100%;
  left: 42%;
  text-align: left;
}

label.radioLabel2 {
  color:black;
  position: relative;
  width: 100%;
  left: 27.5%;
  text-align: left;
}

label.radioLabel3 {
  color:black;
  position: relative;
  width: 100%;
  left: 43.5%;
  text-align: left;
}

input[type="text"] {
    font-size: 2em;
    text-align: center;
    color: black;
    width: 35%;
}

label.checkCustomLabel {
    font-size: 2em;
    margin: 10px;
    color:black;
}

[type="checkbox"]:checked+label:before {
  width: 14px;
    height: 24px;
}

/* Results*/

.instructions {
  width: 82%;
  margin: 0 auto;
}

/* .MuiPaper-root-47.MuiPaper-elevation1-50.MuiPaper-rounded-48.MuiCard-root-46 {
  margin: 15px;
  text-align: left;
} */

a.studyTitle {
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(36, 98, 183);
}

p.studyNumber {
  font-size: 1.7em;
}

p.locationText {
  display: inline;
  font-size: 1.6em;
}

/* Result Details */
.detail-container {
  width: 75%
}


/* .MuiPaper-root-2.MuiPaper-elevation1-5.MuiPaper-rounded-3.MuiCard-root-1.col-md-12.detail-topsection {
  margin-top: 20px;
} */

h2.MuiTypography-root-30.MuiTypography-headline-35.MuiTypography-gutterBottom-48.detail-study-title {
  font-size: 2.8em;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-bottom: #9e9b9b solid 3px;
  padding: 10px 0px;
}

p.MuiTypography-root-30.MuiTypography-body1-39.detail-description {
  padding: 10px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}


.detail-phase, .detail-eligibility, .detail-studylink {
  height: 150px;
  text-align: center;
}

p.MuiTypography-root-30.MuiTypography-headline-35.trial-phase {
  padding: 10px 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.9em;
}

.MuiPaper-root-2.MuiPaper-elevation1-5.MuiExpansionPanel-root-70 {
  display: inline-block;
  margin: 15px 0px;
  border-radius: 3px;
}


.MuiExpansionPanelSummary-content-77 {
  /* font-family: Ari; */
  font-size: 1.9em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

p.MuiTypography-root-30.MuiTypography-body1-39.study-link {
  font-size: 1.6em;
  padding-top: 10px;
}

.col-md-6.criteria {
  font-size: 1.3em;
}


.detail-contact {
  height: 450px;
}

div.col-md-6.detail-map {
  height: 450px;
  padding-right: 0;
  padding-left: 0;
}

button.MuiButtonBase-root-27.MuiTab-root-144.MuiTab-textColorInherit-146 {
  width: 100%;
}

/*animation*/
.fade-enter{
  opacity:0;
}

.fade-enter .fade-enter-active{
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave .fade-leave-active{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear{
  opacity: 0;
}

.fade-apear .fade-apear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Footer and About Us */
.footer {
  text-align: center;
  font-size: 1.3em;
  line-height: 2.5em;
  margin-top: 0; 
  background-color: #1b4a8a;
  height: 3em;
  bottom: 0;
  width: 100%;
}

.aboutLink, .footerLogo {
  color:rgb(238,255,123); /*#CCC238;*/
}

.aboutCard {
  margin: 2em 5em 2em 5em;
  padding: 2em 2em 0 2em;
}

.aboutTitle {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 0px;
}

p.MuiTypography-root-30.MuiTypography-headline-35.MuiTypography-gutterBottom-48.aboutCrdEle {
  font-family: 'Montserrat', sans-serif;
}

/*generic*/
.picwidth100{
  width:100%;
}